!!! 1 - Start your local SQL server and create a DB called "4743260_cs4116g1"
!!! 2 - Import the provided 4743260_cs4116g1.sql file into your local SQL server
!!! 3 - Create a file called .env in /web
!!! 4 - Populate the .env file with the appropriate values
!!! The default values for a XAMPP local SQL server are below

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=4743260_cs4116g1
DB_USER=root    
DB_PASSWORD=